name: github pages

on:
  push:
    branches:
      - book
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup mdBook
        shell: bash
        run: |
          wget https://gilmi.me/static/misc/mymdbook
          chmod +x mymdbook
          ./mymdbook build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/book'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book
